.container-companypolicy {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  .container-company-policy p,  
  .container-company-policy p::before,  
  .container-company-policy p::after {
      color: #666;
  }
  h2, h3 {
    color: #29891d !important;
    text-align: center;
  }
  