/* companyIntro.css */

/* Phần giới thiệu về chúng tôi */
#about {
  padding: 60px 0;
  background-color: #f8f9fa;
  color: #333;
  margin-bottom: 40px; /* Tạo khoảng cách với component bên dưới */
  margin-top: 40px;    /* Tạo khoảng cách với component bên trên */
}

#about h2 {
  color: #006400;
  font-weight: 700;
  margin-bottom: 30px;
}

#about .row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#about .col-md-4 {
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about .col-md-4:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#about i {
  color: #006400;
  margin-bottom: 15px;
}

#about h4 {
  /* font-size: 1.5rem; */
  margin-bottom: 10px;
}

#about p {
  /* font-size: 1rem; */
  color: #666;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #about .row {
    flex-direction: column;
  }

  #about .col-md-4 {
    margin-bottom: 20px;
  }
}
